$primary-color: #fff;
$primary-bg: #000;

body {
  color: $primary-bg;
  background-color: $primary-color;
}

h1 {
  color: $primary-color;
}

#descripcion {
  color: $primary-color;
}

#section {
  background-color: $primary-bg;
}
